# Día 02: Tipos de variables

### Objetivo: Conocer los distintos tipos de variables en python y sus usos 

1. Enteros y dobles
1. Cadenas
1. Booleanos
1. Tuplas
1. Listas
1. Iterables
1. Diccionarios
1. Uso simple de print()

¿Qué es una variable?

En programación, una variable es un espacio reservado en la memoria de nuestro ordenador para almacenar un dato que puede ser usado o modificado tantas veces como se desee. Además, las variables deben tener un nombre asociado al dato que almacenan. Es decir, podemos tener una variable llamada Nombre para almacenar el nombre (dato) de una persona, una variable llamada Edad para almacenar la edad (dato), etc.

¿Qué es un dato? 

En programación, un dato es la expresión general que describe las características de las entidades sobre las cuales opera un algoritmo. 

Tipos de datos básicos: 

* **Numéricos:** En Python los números pueden ser enteros y flotantes. 

* **Cadenas:** Aunque las cadenas no son usualmente importantes para análisis numérico, sí lo son para mostrar resultados por la terminal o shell. Una cadena debe delimitarse con comillas simples o dobles.

* **Booleanos:** Los tipos de datos booleanos se utilizan para representar verdadero y falso, mediante las palabras reservadas True o False respectivamente. Este tipo de datos es muy importante en para el control de flujo de un programa. 

* **Listas:** Una lista es una colección de objetos: números enteros, flotantes, complejos, cadenas, etc. Una lista se delimita utilizando [] y sus elementos han de separarse con comas. Es posible acceder a sus elementos indicando el índice del elemento deseado. 

* **Tuplas:** En muchos sentidos una tupla es como una lista pero no se puede modificar después de su creación. Puede ser de elementos del mismo o diferente tipo. 

* **Diccionario:** Un diccionario se compone de dos partes: una llave (palabra) y un valor (definición). Las llaves siempre deben ser un tipo de dato primitivo. La llave y el valor se separan con : y sus elementos con comas.

In [1]:
numero = 2017
decimal = 5.20098876678766678899
boleano = True
cadena = "Hola mundo de python 12345"
lista = ["a","b","c",10,False]
tupla = (19645, 59621, '¡hola python!')
diccionario = {"a":2, "b":14}

type(tupla)

tuple

## Datos numéricos

In [2]:
10 + 54

64

In [3]:
6/2

3.0

In [4]:
3*5

15

In [5]:
1234-10

1224

In [6]:
#Área de un círculo
3.1416*(15*15)

706.86

In [8]:
3.1416*(15**2)

706.86

In [9]:
3.1416 * pow(15,2)

706.86

In [10]:
#Tengo 12, le sumo 10, y a eso le resto 3, el resultado por 5
12+10-3*5

7

In [11]:
#Operacion organizada por parentesis
((12+10)-3)*5

95

In [12]:
# Operadores
2 + 2 #Suma

4

In [13]:
6*7 #Multiplicacion

42

In [14]:
2**16 #Potencia

65536

In [15]:
13%5 #Módulo

3

In [16]:
3 < 4

True

## Strings, cadenas

In [17]:
texto = "programando en python"

In [18]:
print(texto)

programando en python

In [19]:
type(texto)

str

### Concatenación
Es el proceso de anexar una cadena al final de otra cadena

In [22]:
palabra = "Hola"
segundaPalabra = "mundo"

In [24]:
mensaje = palabra + segundaPalabra
mensaje

'Holamundo'

In [27]:
mensaje = palabra + " " + segundaPalabra
mensaje

'Hola mundo'

### Métodos en strings

In [29]:
texto.upper()

'PROGRAMANDO EN PYTHON'

In [28]:
texto.lower()

'programando en python'

In [30]:
texto.capitalize()

'Programando en python'

In [31]:
texto.title()

'Programando En Python'

In [33]:
texto.swapcase()

'PROGRAMANDO EN PYTHON'

### Cortando cadenas

In [34]:
nombres = "Luis,Jose,Maria,Sofia"

In [35]:
nombres.split(",")

['Luis', 'Jose', 'Maria', 'Sofia']

In [36]:
nombresSeparados = nombres.split(",")

In [37]:
nombresSeparados[0]

'Luis'

## Booleanos

In [38]:
T = True
F = False

In [39]:
type(T)

bool

In [40]:
type(F)

bool

### Operadores lógicos

#### and
Es True si las dos variables son True

In [41]:
True and True

True

In [42]:
True and False

False

In [43]:
False and True

False

In [44]:
False and False

False

#### or
Es True si alguna variable es True

In [45]:
True or True

True

In [46]:
True or False

True

In [47]:
False or True

True

In [48]:
False or False

False

#### not
Devuelve el valor contrario del booleano

In [49]:
not True

False

In [50]:
not False

True

## Listas
Las listas en Python son un tipo contenedor, compuesto, que se usan para almacenar conjuntos de elementos relacionados del mismo tipo o de tipos distintos. Junto a las clases tuple, range y str, son uno de los tipos de secuencia en Python, con la particularidad de que son mutables.


Una lista es una estructura de datos y un tipo de dato en python con características especiales. Lo especial de las listas en Python es que nos permiten almacenar cualquier tipo de valor como enteros, cadenas y hasta otras funciones; por ejemplo:

In [51]:
lista = [1, 2.5, 'IER_UNAM', [5,6] ,4]

In [52]:
type(lista)

list

In [53]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
elementos = [3, 'a', 8, 7.2, 'hola']

In [55]:
# Ingresando a los elementos de una lista
letras=['a', 'b', 'd', 'i', 'j']
print(letras[1])

b

In [56]:
# Añadir elementos a una lista en Python
vocales = ['a']
vocales.append('e')
print (vocales)

vocales.extend(['i', 'o', 'u'])
print (vocales)

['a', 'e']
['a', 'e', 'i', 'o', 'u']

In [57]:
lista_1 = [1, 2, 3]
lista_2 = [4, 5, 6]
nueva_lista = lista_1 + lista_2
nueva_lista

[1, 2, 3, 4, 5, 6]

In [58]:
vocales = ['a', 'e', 'u']
vocales.insert(2, 'i')
vocales

['a', 'e', 'i', 'u']

In [59]:
mensaje="hola mundo"
mensaje[1]

'o'

In [60]:
# Modificar elementos de una lista
vocales = ['o', 'o', 'o', 'o', 'u']
vocales[0] = 'a'

print (vocales)

['a', 'o', 'o', 'o', 'u']

In [62]:
# Eliminar elementos de una lista
letras = ['a', 'b', 'k', 'a', 'v']

letras.pop(2)

letras

['a', 'b', 'a', 'v']

In [63]:
# Borrando una lista
letras.clear()

In [64]:
# Obteniendo la longitud de una lista
vocales = ['a', 'e', 'i', 'o', 'u']
len(vocales)

5

In [65]:
# Saber si un elemento se encuentra dentro de la lista
vocales = ['a', 'e', 'i', 'o', 'u']
if 'a' in vocales:
    print('Sí')

Sí

In [66]:
if 'b' not in vocales:
    print('No')

No

In [67]:
# Ordenar listas
numeros = [16, 4, 9, 1, 3, 20, 8]
numeros.sort() #ordenando los elementos de manera ascendente
numeros

[1, 3, 4, 8, 9, 16, 20]

In [68]:
palabras = ["hola", "coche", "avión", "manzana", "perro", "gato"]
palabras.sort()
palabras

['avión', 'coche', 'gato', 'hola', 'manzana', 'perro']

In [69]:
lista = [1, "a", 5, "g", 3, "c"]
lista.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [70]:
numeros = [16, 4, 9, 1, 3, 20, 8]
ordenados= sorted(numeros)
print (numeros)
print (ordenados)

[16, 4, 9, 1, 3, 20, 8]
[1, 3, 4, 8, 9, 16, 20]

In [71]:
numeros = [16, 4, 9, 1, 3, 20, 8]
numeros.sort(reverse=True)
#print(numeros)

numeros = [16, 4, 9, 1, 3, 20, 8]
ordenados=sorted(numeros,reverse=True)
print(numeros)
print(ordenados)

[16, 4, 9, 1, 3, 20, 8]
[20, 16, 9, 8, 4, 3, 1]

In [72]:
## contando elementos en una lista 
lista_palabras=["Hola", "mundo", "mundo"]

#print(lista_palabras.count("mundo"))


["Hola", "Hola", "mundo"].count("Hola")

2

## Tuplas
Las tuplas son un tipo de listas inmutables, no pueden modificarse de ningún modo después de su creación.

Por ejemplo, creemos una lista llamada frutas:

In [73]:
frutas = ["pera", "manzana", "melon"]

In [74]:
#Podemos agregar un elemento como:
frutas.append("ciruela")
frutas

['pera', 'manzana', 'melon', 'ciruela']

In [75]:
#O sustituir uno como
frutas[1] = "guayaba"
frutas

['pera', 'guayaba', 'melon', 'ciruela']

In [76]:
#e incluso eliminar un elemento como
frutas.remove("pera")
frutas

['guayaba', 'melon', 'ciruela']

In [77]:
#Creemos ahora una tupla llamada verduras, notemos que la nomenclatura es diferente,
#pues para la listas usamos corchetes y para las tuplas paréntesis
verduras = ("zanahoria", "cebolla", "apio")

In [78]:
#podemos ver su tipo como:
type(verduras)

tuple

In [79]:
#Intentemos ahora las mismas operaciones que realizamos anteriormente con la lista
verduras.append("tomate")

AttributeError: 'tuple' object has no attribute 'append'

In [80]:
verduras[1] = "tomate"

TypeError: 'tuple' object does not support item assignment

In [81]:
verduras.remove("tomate")

AttributeError: 'tuple' object has no attribute 'remove'

In [82]:
del(verduras[1])

TypeError: 'tuple' object doesn't support item deletion

In [83]:
#Esta es propiamente la definición de tupla, una lista inmutable, pues como vemos, 
#No podemos realizar cambios una vez que la hemos creado, podrían ser de utilidad cuando 
#tenemos una lista en la que sabemos que nunca se deben realizar operaciones en ella.
#Para crear una tupla, podemos hacerlo como lo hicimos anteriormente, o también podemos 
#crearla a partir de una lista
mis_frutas = tuple(frutas)
type(mis_frutas)

tuple

In [84]:
mis_frutas

('guayaba', 'melon', 'ciruela')

## Diccionarios
Un Diccionario es una estructura de datos y un tipo de dato en Python con características especiales que nos permite almacenar cualquier tipo de valor como enteros, cadenas, listas e incluso otras funciones. Estos diccionarios nos permiten además identificar cada elemento por una clave (Key).

In [85]:
diccionario = {
"clave1":234,
"clave2":True,
"clave3":"Valor 1",
"clave4":[1,2,3,4]
}

In [86]:
diccionario['clave4']

[1, 2, 3, 4]

In [87]:
type(diccionario['clave2'])

bool

In [88]:
# Agregando elementos al diccionario
diccionario["clave5"]=4.5

In [89]:
diccionario

{'clave1': 234,
 'clave2': True,
 'clave3': 'Valor 1',
 'clave4': [1, 2, 3, 4],
 'clave5': 4.5}

In [90]:
# Modificando un valor al diccionario
diccionario["clave5"]=6.0
diccionario

{'clave1': 234,
 'clave2': True,
 'clave3': 'Valor 1',
 'clave4': [1, 2, 3, 4],
 'clave5': 6.0}

In [91]:
#Eliminado elemento de diccionario
dic = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4, 'cinco': 5}
dic.pop('uno')

1

In [92]:
del dic['tres']

In [93]:
dic

{'dos': 2, 'cuatro': 4, 'cinco': 5}

In [94]:
# Obteniendo elementos del diccionario
dictionary={"key1":"value","key2":2, "key3":False}
print(dictionary.items()) #impriendo llaves y valores

dict_items([('key1', 'value'), ('key2', 2), ('key3', False)])

In [95]:
#Obteniendo las llaves del diccionario
dictionary.keys()

dict_keys(['key1', 'key2', 'key3'])

In [97]:
#Obteniendo los valores del diccionario
dictionary.values() # imprime valores

dict_values(['value', 2, False])

## Imprimir 
Recordemos que la función print() nos devuelve la impresión a pantalla de una cadena o strings, así como la concatenación de ellas, por ejemplo:

In [98]:
print("hola" + "mundo")

holamundo

In [99]:
# Podemos concatenar variables siempre y cuando también sean strings:

palabra = "feliz"

print("hola"  + "mundo" + palabra)

holamundofeliz

In [100]:
numero = 10
print("hola"+"mundo"+numero)

TypeError: can only concatenate str (not "int") to str

In [101]:
#Podríamos obtenerlo de la siguiente forma:
print("hola"+"mundo", numero)

holamundo 10

Sin embargo existen mejores formas de hacer la impresión de variables. La primera forma es al estilo de la vieja escuela en C, y es con el operador %, veamos algunos ejemplos:

In [102]:
# Esto imprime "Hola, Diego!"
nombre = "Diego"
print("Hola, %s!" % nombre)

Hola, Diego!

%s - Cadena (O cualquier objeto, como los números al representarlos en una cadena de texto)

%d - Enteros

%f - Números de punto flotante

%.f - Números de punto flotante con una cantidad de números fijos a la derecha del punto.

In [103]:
# Esto imprime "John is 23 years old."
nombre = "John"
edad = 27
print("%s tiene %d años." % (nombre, edad))

John tiene 27 años.

In [104]:
# Esto muestra lo siguiente: Una Lista: [1, 2, 3]
lista = [1,2,3]
print("Una lista: %s" % lista)

Una lista: [1, 2, 3]

In [105]:
decimal=4.565770
print("decimal %.2f" % decimal)

decimal 4.57

A partir de python 3, se recomienda el uso del siguiente método que es con .format() en lugar de la forma anterior. Para usar el método format podemos hacer lo siguiente:

In [107]:
mi_nombre = "luis"
mi_fecha = "10/10/2010"
mi_lugar = "la Luna"
 
texto = "{nombre} parece estar en {lugar} desde {fecha}"
 
print(texto.format(nombre=mi_nombre, lugar=mi_lugar, fecha=mi_fecha))

luis parece estar en la Luna desde 10/10/2010

In [109]:
# Una forma alternativa es
print("{nombre} parece estar en {lugar} desde {fecha}".format(nombre=mi_nombre, lugar=mi_lugar, fecha=mi_fecha))

luis parece estar en la Luna desde 10/10/2010

Este método permite una formas mas intuitiva de imprimir con formato, también podemos escribir las variables en el orden de impresión, pero hay que tener cuidado

In [110]:
print("{} parece estar en {} desde {}".format(mi_nombre, mi_lugar, mi_fecha))

luis parece estar en la Luna desde 10/10/2010

In [111]:
print("{} parece estar en {} desde {}".format(mi_lugar, mi_fecha, mi_nombre))

la Luna parece estar en 10/10/2010 desde luis

In [112]:
#También podemos especificar la posición de las variables:
print("{2} parece estar en {0} desde {1}".format(mi_nombre, mi_lugar, mi_fecha))

10/10/2010 parece estar en luis desde la Luna

En el caso de valores numéricos, podemos especificar el número de enteros y flotantes:

In [113]:
valor = 3.14159264
 
print("El valor de pi es:{:.2f}".format(valor))

El valor de pi es:3.14

In [114]:
print("El valor de pi es:{:e}".format(valor))

El valor de pi es:3.141593e+00

In [115]:
#También podemos realizar operaciones entre las variables:
print("El valor de pi es:{}".format(valor*2))

El valor de pi es:6.28318528

In [116]:
phi = 1.618

print("El valor de pi es:{}".format((valor+phi)/2))

El valor de pi es:2.37979632

### Cadenas "f" 

La última forma de imprimir con formato se conoce como f-string y es la forma mas pythonesca de hacerlo En Python 3.6 se añadió (PEP 498) una nueva notación para cadenas llamada cadenas "f", que simplifica la inserción de variables y expresiones en las cadenas. Una cadena "f" contiene variables y expresiones entre llaves ({}) que se sustituyen directamente por su valor. Las cadenas "f" se reconocen porque comienzan por una letra f antes de las comillas de apertura.

In [117]:
nombre = "Diego"
edad = 27
print(f"Me llamo {nombre} y tengo {edad} años.")

Me llamo Diego y tengo 27 años.

In [118]:
semanas = 4
print(f"En {semanas} semanas hay {7 * semanas} días.")

En 4 semanas hay 28 días.

In [119]:
# Al igual que en el método anterior podemos especificar el numero de decimales, notemos que al escribir el valor 
#de la variable en la posición que le corresponde, es menos susceptible a que cometamos errores 

valor = 3.14159264
 
print(f"El valor de pi es:{valor:.2f}")

El valor de pi es:3.14