In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../../data/temixco.csv",index_col=0,parse_dates=True)
df.index

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:10:00',
               '2018-01-01 00:20:00', '2018-01-01 00:30:00',
               '2018-01-01 00:40:00', '2018-01-01 00:50:00',
               '2018-01-01 01:00:00', '2018-01-01 01:10:00',
               '2018-01-01 01:20:00', '2018-01-01 01:30:00',
               ...
               '2018-12-31 22:20:00', '2018-12-31 22:30:00',
               '2018-12-31 22:40:00', '2018-12-31 22:50:00',
               '2018-12-31 23:00:00', '2018-12-31 23:10:00',
               '2018-12-31 23:20:00', '2018-12-31 23:30:00',
               '2018-12-31 23:40:00', '2018-12-31 23:50:00'],
              dtype='datetime64[ns]', name='time', length=52560, freq=None)

In [4]:
df.sum()

Ib    1.241076e+07
Ig    1.349443e+07
To    1.200370e+06
RH    2.373233e+06
WS    1.001373e+05
WD    1.107620e+07
P     4.603791e+09
dtype: float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 52560 entries, 2018-01-01 00:00:00 to 2018-12-31 23:50:00
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ib      52423 non-null  float64
 1   Ig      52423 non-null  float64
 2   To      52560 non-null  float64
 3   RH      52560 non-null  float64
 4   WS      52560 non-null  float64
 5   WD      52560 non-null  float64
 6   P       52560 non-null  float64
dtypes: float64(7)
memory usage: 3.2 MB

In [8]:
df.describe()

,Ib,Ig,To,RH,WS,WD,P
count,52423.000000,52423.000000,52560.000000,52560.000000,52560.00000,52560.000000,52560.000000
mean,236.742726,257.414344,22.838098,45.152827,1.90520,210.734453,87591.151598
std,327.983721,345.976954,4.443339,19.426263,1.04411,109.276328,245.715965
min,0.000000,0.000000,8.160000,5.648000,0.05000,0.000000,86772.650000
25%,0.001000,0.000000,19.350000,29.770000,1.18000,134.675000,87429.500000
50%,0.260000,3.293000,22.670000,42.600000,1.78500,211.900000,87595.090000
75%,542.300000,533.900000,26.030000,59.280000,2.46000,319.800000,87760.647500
max,1021.000000,1348.000000,35.870000,97.700000,14.86000,360.000000,88516.950000

In [19]:
df.dtypes

Ib    float64
Ig    float64
To    float64
RH    float64
WS    float64
WD    float64
P     float64
dtype: object

In [ ]:
df.between_time